[submodule "public/sites/all/modules/custom/ombucleanup"]
	path = public/sites/all/modules/custom/ombucleanup
	url = git@github.com:ombu/drupal-ombucleanup.git
[submodule "public/sites/all/modules/custom/ombudashboard"]
	path = public/sites/all/modules/custom/ombudashboard
	url = git@github.com:ombu/drupal-ombudashboard.git
[submodule "public/sites/all/modules/custom/ombuseo"]
	path = public/sites/all/modules/custom/ombuseo
	url = git@github.com:ombu/drupal-ombuseo.git
[submodule "public/sites/all/modules/custom/ombuwire"]
	path = public/sites/all/modules/custom/ombuwire
	url = git@github.com:ombu/drupal-ombuwire.git
[submodule "public/sites/all/themes/ombubase"]
	path = public/sites/all/themes/ombubase
	url = git@github.com:ombu/drupal-ombubase.git
[submodule "public/sites/all/modules/custom/tiles"]
	path = public/sites/all/modules/custom/tiles
	url = git@github.com:ombu/drupal-tiles.git
[submodule "public/sites/all/themes/boots"]
	path = public/sites/all/themes/boots
	url = git@github.com:ombu/drupal-boots.git
[submodule "public/sites/all/modules/custom/ombubeans"]
	path = public/sites/all/modules/custom/ombubeans
	url = git@github.com:ombu/drupal-ombubeans.git
[submodule "public/sites/all/modules/custom/sentry"]
	path = public/sites/all/modules/custom/sentry
	url = git@github.com:ombu/drupal-sentry.git
[submodule "public/sites/all/modules/custom/beancontainer"]
	path = public/sites/all/modules/custom/beancontainer
	url = git@github.com:ombu/drupal-beancontainer.git
[submodule "public/sites/all/modules/custom/ombuslide"]
	path = public/sites/all/modules/custom/ombuslide
	url = git@github.com:ombu/drupal-ombuslide.git
[submodule "public/sites/all/modules/custom/ombubench"]
	path = public/sites/all/modules/custom/ombubench
	url = git@bitbucket.org:ombu/drupal-ombubench.git
[submodule "public/sites/all/modules/custom/customauthor"]
	path = public/sites/all/modules/custom/customauthor
	url = git@github.com:ombu/drupal-customauthor.git
