[submodule "public/sites/all/modules/custom/ombucleanup"]
	path = public/sites/all/modules/custom/ombucleanup
	url = http://github.com/ombucore/drupal-ombucleanup.git
[submodule "public/sites/all/modules/custom/ombudashboard"]
	path = public/sites/all/modules/custom/ombudashboard
	url = http://github.com/ombucore/drupal-ombudashboard.git
[submodule "public/sites/all/modules/custom/ombuseo"]
	path = public/sites/all/modules/custom/ombuseo
	url = http://github.com/ombucore/drupal-ombuseo.git
[submodule "public/sites/all/modules/custom/ombuwire"]
	path = public/sites/all/modules/custom/ombuwire
	url = https://github.com/ombucore/drupal-ombuwire.git
[submodule "public/sites/all/modules/custom/tiles"]
	path = public/sites/all/modules/custom/tiles
	url = http://github.com/ombucore/drupal-tiles.git
[submodule "public/sites/all/themes/boots"]
	path = public/sites/all/themes/boots
	url = http://github.com/ombucore/drupal-boots.git
[submodule "public/sites/all/modules/custom/ombubeans"]
	path = public/sites/all/modules/custom/ombubeans
	url = http://github.com/ombucore/drupal-ombubeans.git
[submodule "public/sites/all/modules/custom/sentry"]
	path = public/sites/all/modules/custom/sentry
	url = http://github.com/ombu/drupal-sentry.git
[submodule "public/sites/all/modules/custom/beancontainer"]
	path = public/sites/all/modules/custom/beancontainer
	url = http://github.com/ombucore/drupal-beancontainer.git
[submodule "public/sites/all/modules/custom/ombuslide"]
	path = public/sites/all/modules/custom/ombuslide
	url = http://github.com/ombucore/drupal-ombuslide.git
[submodule "public/sites/all/modules/custom/customauthor"]
	path = public/sites/all/modules/custom/customauthor
	url = http://github.com/ombucore/drupal-customauthor.git
[submodule "public/sites/all/modules/custom/profile_tasks"]
	path = public/sites/all/modules/custom/profile_tasks
	url = http://github.com/ombucore/drupal-profile-tasks.git
[submodule "public/sites/all/modules/custom/bean_style"]
	path = public/sites/all/modules/custom/bean_style
	url = http://github.com/ombucore/drupal-bean-style.git
[submodule "public/sites/all/modules/custom/tagsadmin"]
	path = public/sites/all/modules/custom/tagsadmin
	url = http://github.com/ombucore/drupal-tagsadmin.git
[submodule "public/sites/all/modules/contrib/drupalextension"]
	path = public/sites/all/modules/contrib/drupalextension
	url = http://git.drupal.org/project/drupalextension.git
