.field.c {
  .lead {
    font-family: @font-family-sans-serif;
    .font-size(18, 1.4);
    font-weight: @font-weight-light;
    font-style: italic;
    color: @color-zodiac;
  }
}

// MEDIA RESPONSES
// ----------------------------------------------------------------------------

@media (min-width: @mq-threshold-tablet) {
  .field.c {
    .lead {
      .font-size(22, 1.4);
    }
  }
}

@media (min-width: @mq-threshold-desktop) {
  .field.c {
    .lead {
      .font-size(28, 1.4);
    }
  }
}
