@import '../../../ombuslide.mixins.less';

.entity.bean-ombuslide {
  position: relative;
}

.ombuslide-slideshow {
  position: relative;
  margin-bottom: 50px;

  &, *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .field-name-field-caption {
    display: none;
  }

  .slides, .prevnext, .pager {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 0;
    }
  }

  .slides {
    background-color: rgb(40, 40, 40);

    > li {
      width: 100%;

      img {
        width: 100%;
      }

      // Force the width of iframe to 100% width of the container.
      iframe {
        display: block;
        width: 100%;
      }

      // If file information (e.g., file size, file type) is output
      // inside a <small> element, hide it.
      small {
        display: none;
      }

      &.first {
        display: block;
      }

      &.cycle-slide-active {
        .group_primary, .group_secondary {
          > * {
            .opacity(1);
          }
        }
      }
    }

    .group_primary, .group_secondary {
      > * {
        .opacity(0);
        .transition(all 0.5s ease);
      }
    }

    .group_secondary {
      width: 100%;
      color: white;
      padding: 1.0em;
    }
  }

  .pager {
    width: 100%;
    text-align: center;
    padding: 0 40px;
    background-color: rgb(60, 60, 60);
  }

  .pager, .prevnext {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 40px;

    > li {
      display: inline-block;

      &.prev, &.next {
        position: absolute;
        bottom: 0;
        left: 0;

        a {
          font-size: 26px;
          line-height: 36px;
        }
      }

      &.next {
        left: auto;
        right: 0;
      }

      a {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #999;

        &:hover {
          text-decoration: none;
          color: white;
        }
      }

      &.cycle-pager-active {
        a, a:hover {
          cursor: default;
          color: yellow;
        }
      }
    }
  }

  &[data-slide-count="0"], &[data-slide-count="1"] {
    .pager, .prevnext {
      display: none !important;
    }
  }
}

