.entity.bean-ombuslide {
  position: relative;
}
.ombuslide-slideshow {
  position: relative;
  margin-bottom: 50px;
}
.ombuslide-slideshow,
.ombuslide-slideshow *,
.ombuslide-slideshow *:before,
.ombuslide-slideshow *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ombuslide-slideshow .field-name-field-caption {
  display: none;
}
.ombuslide-slideshow .slides,
.ombuslide-slideshow .prevnext,
.ombuslide-slideshow .pager {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ombuslide-slideshow .slides > li,
.ombuslide-slideshow .prevnext > li,
.ombuslide-slideshow .pager > li {
  margin: 0;
  padding: 0;
}
.ombuslide-slideshow .slides {
  background-color: #282828;
}
.ombuslide-slideshow .slides > li {
  width: 100%;
}
.ombuslide-slideshow .slides > li img {
  width: 100%;
}
.ombuslide-slideshow .slides > li iframe {
  display: block;
  width: 100%;
}
.ombuslide-slideshow .slides > li small {
  display: none;
}
.ombuslide-slideshow .slides > li.first {
  display: block;
}
.ombuslide-slideshow .slides > li.cycle-slide-active .group_primary > *,
.ombuslide-slideshow .slides > li.cycle-slide-active .group_secondary > * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.ombuslide-slideshow .slides .group_primary > *,
.ombuslide-slideshow .slides .group_secondary > * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ombuslide-slideshow .slides .group_secondary {
  width: 100%;
  color: white;
  padding: 1.0em;
}
.ombuslide-slideshow .pager {
  width: 100%;
  text-align: center;
  padding: 0 40px;
  background-color: #3c3c3c;
}
.ombuslide-slideshow .pager,
.ombuslide-slideshow .prevnext {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
}
.ombuslide-slideshow .pager > li,
.ombuslide-slideshow .prevnext > li {
  display: inline-block;
}
.ombuslide-slideshow .pager > li.prev,
.ombuslide-slideshow .prevnext > li.prev,
.ombuslide-slideshow .pager > li.next,
.ombuslide-slideshow .prevnext > li.next {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ombuslide-slideshow .pager > li.prev a,
.ombuslide-slideshow .prevnext > li.prev a,
.ombuslide-slideshow .pager > li.next a,
.ombuslide-slideshow .prevnext > li.next a {
  font-size: 26px;
  line-height: 36px;
}
.ombuslide-slideshow .pager > li.next,
.ombuslide-slideshow .prevnext > li.next {
  left: auto;
  right: 0;
}
.ombuslide-slideshow .pager > li a,
.ombuslide-slideshow .prevnext > li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #999;
}
.ombuslide-slideshow .pager > li a:hover,
.ombuslide-slideshow .prevnext > li a:hover {
  text-decoration: none;
  color: white;
}
.ombuslide-slideshow .pager > li.cycle-pager-active a,
.ombuslide-slideshow .prevnext > li.cycle-pager-active a,
.ombuslide-slideshow .pager > li.cycle-pager-active a:hover,
.ombuslide-slideshow .prevnext > li.cycle-pager-active a:hover {
  cursor: default;
  color: yellow;
}
.ombuslide-slideshow[data-slide-count="0"] .pager,
.ombuslide-slideshow[data-slide-count="1"] .pager,
.ombuslide-slideshow[data-slide-count="0"] .prevnext,
.ombuslide-slideshow[data-slide-count="1"] .prevnext {
  display: none !important;
}
