// Styles for tablet screens in portrait orientation and larger.
// -----------------------------------------------------------------------------

.debug-media-response-message('Media response: Tablet');

// Globals
// -----------------------------------------------------------------------------

body {
  padding-top: @height-header-tablet;
  .font-size(16, @line-height-base);
}

// Extend stems
// -----------------------------------------------------------------------------

.decorative-header {
  .font-size(30, 1.2);
}

.capital-header {
  .font-size(22, 1.4)
}

// Grid
// -----------------------------------------------------------------------------

.set-grid-metrics(@gutter-side-tablet);

// Region: header
// ----------------------------------------------------------------------------

[data-type="region"][data-name="header-background"],
[data-type="region"][data-name="header"] {

  &, html.menu-open & {
    height: @height-header-tablet;
  }

  html.toolbar-open & {
    top: 30px;
  }

  html.compressed-header &, html.menu-open.compressed-header & {
    height: @height-header-tablet-compressed;

    #block-ombucleanup-site-logo {
      transform: translate(0, 0) scale(0.5);
    }

    #block-menu-header-menu {
      transform: translate(-80px, -11px) scale(0.75);
    }

    #block-search-form {
      transform: translate(0, -11px) scale(0.75);
    }
  }
}

[data-type="region"][data-name="header-background"] {
  background-color: fade(@color-prussian, 90%);

  html.compressed-header & {
    background-color: fade(@color-prussian, 100%);
  }
}

[data-type="region"][data-name="header"] {
  .top-link, .menu-toggle, &:before {
    display: none;
  }
}

#block-ombucleanup-site-logo {
  position: absolute;
  top: 0;
  left: @gutter-side-tablet - @gutter-side-mobile;
  width: auto;
  transform-origin: @gutter-side-mobile top;

  a.brand {
    width: 200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

#block-menu-header-menu {
  position: absolute;
  top: 18px;
  left: @gutter-side-tablet + 170px;
  transform-origin: left center;
}

#block-search-form {
  position: absolute;
  top: 21px;
  right: @gutter-side-tablet - @gutter-side-mobile;
  width: auto;
  transform-origin: right center;

  form {
    padding-bottom: 0;
  }

  input[type="text"] {
    width: 4.0em;
    border-bottom-color: transparent;
    cursor: pointer;
    .placeholder-styles(fade(@color-white, 70%), regular, uppercase);

    &:focus {
      .placeholder-styles(@color-bayoux, regular, uppercase);
    }
  }

  input[type="text"]:focus, &.valid input[type="text"] {
    width: 7.0em;
    cursor: text;
  }

  input[type="text"]:focus, &.valid input[type="text"]:focus {
    border-bottom-color: @color-polo;
  }

  &.valid input[type="text"] {
    border-bottom-color: @color-bayoux;
  }
}

html, html.menu-open {
  #block-ombucleanup-site-logo {
    opacity: 1;
    transform: scale(1);
  }

  #block-ombucleanup-site-logo, #block-menu-header-menu, #block-search-form {
    transition: all @transition-duration-default ease;
  }

  #block-menu-header-menu, #block-search-form {
    transform: translate(0, 0);
    height: auto;
    opacity: 1;
  }
}

// Region width: Wide
// ----------------------------------------------------------------------------

// TODO: Replace ID with "Wide" width

#page > [data-type="region-container"][data-name="sections"] > .field-type-tiles-section > [data-type="region"][data-name="section"]#Hero {
  > .content {
    padding-left: 0;
    padding-right: 0;
  }
}

// Region width: Full-width
// ----------------------------------------------------------------------------

// TODO: Replace ID with "Full width" width

// #page > [data-type="region-container"][data-name="sections"] > .field-type-tiles-section > [data-type="region"][data-name="section"]#Hero {
//   > .content {
//     max-width: none;
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

// Page: Front
// ----------------------------------------------------------------------------

body.front {
  padding-top: 0;
}

// Contextual links
// ----------------------------------------------------------------------------

[data-type="region"][data-name="section"] {
  &:first-child {
    .contextual-links-wrapper {
      top: @height-header-tablet + 10;
    }
  }
}

// Tile: CTA
// ----------------------------------------------------------------------------

.bean-cta {
  > .entity-bean {
    text-align: right;
  }

  .field-name-field-cta-link {
    a {
      border-width: 10px;
      .font-size(20, 1.2);
      border-radius: 13px;
    }
  }
}

// Tile: Callout
// ----------------------------------------------------------------------------

.bean-callout {
  > .entity-bean {
    text-align: left;
  }

  .field-collection-view {
    clear: both;
    padding-bottom: 3.0em;
  }

  .field-name-field-callout-image {
    float: left;
    width: 40%;
    padding-top: 0.6em;

    img {
      max-width: 250px;
    }
  }

  .field-name-field-callout-title,
  .field-name-field-callout-description {
    margin-left: 40%;
    padding-left: 20px;
  }
}
