// CONSTANTS
// ----------------------------------------------------------------------------
@ar-image-hero: percentage(637/1200);
@ar-arch: percentage(20/320);
@dot-width-outer: 25px;
@dot-height-outer: 41px;
@dot-width-inner: 15px;
@dot-height-inner: 30px;
@spinner-width: 128px;
@spinner-height: 128px;

// BEAN STYLES
// ----------------------------------------------------------------------------

.bean-style-carousel {
  margin-bottom: 0;

  &:before {
    content: '';
    position: absolute;
    top: @ar-image-hero / 2;
    left: 50%;
    width: @spinner-width / 2;
    height: @spinner-height / 2;
    margin-top: @spinner-height / -4;
    margin-left: @spinner-width / -4;
    background: transparent url(/sites/all/themes/bridges_theme/images/animated/coffee.gif) center 30% no-repeat;
    background-size: @spinner-width / 2 auto;
    opacity: 1;
    transition: all @transition-duration-leisurely ease;
  }

  > .carousel {
    opacity: 0;
    transition: all @transition-duration-leisurely ease;
  }

  &:not(.initialized) {
    overflow: hidden;
    white-space: nowrap;

    .item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }

  &.initialized {
    > .carousel {
      opacity: 1;
      visibility: visible;
    }
  }

  .ombugallery.col-xs-12.col-sm-12.col-md-12.col-lg-12 & {
    .owl-carousel {
      .owl-stage-outer {
        overflow: visible;
      }
    }
  }

  .owl-carousel {
    .owl-item {
      .force-hardware-acceleration();

      .group_primary {
        background: @color-zodiac;
      }

      .group_secondary {
        padding: 0 @gutter-side-mobile;
      }

      .field-name-field-media {
        opacity: 0.2;
        transition: all @transition-duration-leisurely ease;
      }

      .field-name-field-slide-title {
        opacity: 0;
        transition: all @transition-duration-default ease;
        transform: translate(40px, 0);
      }

      &.active, &.active-clone {
        .field-name-field-media, .field-name-field-slide-title {
          opacity: 1;
        }

        .field-name-field-slide-title {
          transition: all @transition-duration-leisurely ease 0.3s;
          transform: translate(0, 0);
        }
      }
    }
  }

  .owl-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: @ar-image-hero;
    margin-left: 100%;
  }

  .owl-dots {
    bottom: -1px;
    height: 0;
    margin-left: -100%;
    padding-bottom: @ar-arch;
    background: transparent url(/sites/all/themes/bridges_theme/images/arches/white.svg) center bottom no-repeat;

    .owl-dot {
      width: @dot-width-outer + 8;
      height: @dot-height-outer;
      margin: 0;
      margin-top: -15px;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      opacity: 1;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &:before {
        width: @dot-width-outer;
        height: @dot-height-outer;
        margin-top: @dot-height-outer / -2;
        margin-left: @dot-width-outer / -2;
        background: transparent url(/sites/all/themes/bridges_theme/images/dots/dot-outer.svg) 0 0 no-repeat;
      }

      &:after {
        width: @dot-width-inner;
        height: @dot-height-inner;
        margin-top: @dot-height-inner / -2;
        margin-left: @dot-width-inner / -2;
        background: transparent url(/sites/all/themes/bridges_theme/images/dots/dot-inner.svg) 0 0 no-repeat;
        opacity: 0.4;
        transition: all @transition-duration-leisurely ease;
      }

      &.active, &:hover {
        opacity: 1;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .field-name-field-slide-title {
    position: relative;
    max-width: 11.5em;
    margin: 0 auto;
    padding: 1.0em 0;
    .font-size(24, 1.2);
    font-family: @font-family-decorative;
    color: @color-matisse;
    text-align: center;
  }
}

// MEDIA RESPONSES
// ----------------------------------------------------------------------------

@media (min-width: @mq-threshold-tablet) {
  .bean-style-carousel {
    .field-name-field-slide-title {
      .font-size(48, 1.2);
      padding: 0;
      margin: -0.15em auto 1.5em;
    }

    .owl-carousel {
      .owl-item {
        &.active, &.active-clone {
          .field-name-field-slide-title {
            transition: all @transition-duration-leisurely ease 0.6s;
          }
        }
      }
    }
  }
}

@media (min-width: @mq-threshold-desktop) {
  .bean-style-carousel {
    .field-name-field-slide-title {
      .font-size(64, 1.2);
      margin: -0.15em auto 1.5em;
    }
  }
}
