// CONSTANTS
// ----------------------------------------------------------------------------
@ar_image_hero: percentage(637/1200);

// BEAN STYLES
// ----------------------------------------------------------------------------

.bean-style-carousel {
  .owl-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: @ar_image_hero;
    margin-left: 100%;

    .owl-dots {
      margin-left: -100%;
    }
  }

  .field-name-field-slide-title {
    margin-top: 0.5em;
    text-align: center;
    font-family: @font-family-decorative;
    .font-size(48, 1.5);
  }
}

// MEDIA RESPONSES
// ----------------------------------------------------------------------------

