// DEVELOPMENT OVERRIDES
// -----------------------------------------------------------------------------

#ribbon {
  display: none;
}

// KRUMO DEBUG ELEMENTS
// -----------------------------------------------------------------------------

[class^="krumo"] {
  &, * {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }
}
